<div class="card h-full fontsize">
  <div class="card fontsize">
    <div class="flex justify-content-center flex-column align-items-center">
      <h1 class="">Public Directory Data</h1>
      <hr class="line" />
    </div>

    <div class="formgrid grid card-container backagain">
      <h3 class="paddinginput">Organisational Data Entry Form</h3>
      <div class="field col-12 md:col-12">
        <label for="NameOfOrg">Name of Organisation</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field col-12 md:col-8">
        <label for="OtherNames">Other names/Short form</label>
        <input
          id="lastname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="state">Year of Establishment</label>
        <select
          id="state"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
        >
          <option>1997</option>
          <option>California</option>
          <option>Florida</option>
          <option>Ohio</option>
          <option>Washington</option>
        </select>
      </div>

      <div class="field col-12 md:col-8">
        <label for="OtherNames">Thematic Area</label>
        <input
          id="lastname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="state">Staff Size</label>
        <select
          id="state"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
        >
          <option>3-5</option>
          <option>5-10</option>
          <option>10-20</option>
          <option>20 and above</option>
          <option>Washington</option>
        </select>
      </div>

      <div class="field col-12 md:col-8">
        <label for="OtherNames">Office Address</label>
        <input
          id="lastname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label for="state">State</label>
        <select
          id="state"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
        >
          <option>Arizona</option>
          <option>California</option>
          <option>Florida</option>
          <option>Ohio</option>
          <option>Washington</option>
        </select>
      </div>

      <div class="field col-12 md:col-4">
        <label for="state">Local Government Area (LGA)</label>
        <select
          id="state"
          class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
          style="appearance: auto"
        >
          <option>Arizona</option>
          <option>California</option>
          <option>Florida</option>
          <option>Ohio</option>
          <option>Washington</option>
        </select>
      </div>
      <div class="field col-12 md:col-4">
        <label for="OtherNames">Town/City</label>
        <input
          id="lastname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="col-12 flex align-items-center mt-3 mb-6">
        <p-button label="" icon="pi pi-plus"></p-button
        ><span class="ml-3">Add another address</span>
      </div>

      <div class="field col-12 md:col-1">
        <label for="NameOfOrg">PhoneNumber</label>
        <input
          id="firstname6"
          type="text"
          style="width: 50px"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="field col-12 md:col-4">
        <label class="bck" for="NameOfOrg">CSO Type</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>
      <div class="col-2"></div>
      <div class="field col-12 md:col-5">
        <label for="NameOfOrg">Email Address</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field col-12 md:col-5">
        <label for="NameOfOrg">CSO Type</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="col-2"></div>

      <div class="field col-12 md:col-5">
        <label for="NameOfOrg">Website</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field col-12 md:col-4">
        <label for="NameOfOrg">Facebook Profile Link</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field col-12 md:col-4">
        <label for="NameOfOrg">Twitter Profile Link</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field col-12 md:col-4">
        <label for="NameOfOrg">Instagram Profile Link</label>
        <input
          id="firstname6"
          type="text"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        />
      </div>

      <div class="field formgroup-inline">
        <br />
        <div class="field col-12 field-checkbox">
          <input type="checkbox" id="city3" />
          <label for="city3"
            >A unique id will be generated and sent to your mail once you submit
            this form. Tick the checkbox if you are sure of the information
            provided above</label
          >
        </div>
      </div>
    </div>
  </div>
  <button
    class="col-1 py-2 mt-3 md:col-1 sm:col-12 max-w-full"
    pButton
    type="button"
    label="Submit"
  ></button>
</div>
